/*DOM:: GENERAL CSS */
p{
  margin: 0;
  text-align: center;
  letter-spacing: 1.5px;
}
main{
  position: relative;
  overflow: hidden;
  border: none;
  max-width: 100vw;
  width: 100%;
}


/*MAIN SECTION:: SPLASH IMAGE SECTION */
.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
    width: 100%;
    background-image: url(../images/canva.png);
    background-size: cover;
    background-position: 50% 50%;
  

}

.cover{
  position: absolute;
  background-color: var(--bgcolor);
  width: 100vw;
  height: 100vh;
  animation-name: coverfade;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;

}

/*MAIN SECTION: SPLASH TITLE TEXT BOX*/
.splash__title{
  animation: fade-in linear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.splash__title p{
  font-size: 20px;
}
.splash__title h1{
    font-size: 150px;
    line-height: 165px;
    max-width:800px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;


}
.splash__sub{
  background-color: #69452E95;
  max-width: 1200px;
  width: 100%;
  height: 51px;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.splash__sub p{
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 10px;

}
/*MAIN SECTION:: REVIEWS SECTION START */
.reviews{
  display: flex;
  justify-content: space-between;
  display: flex;
  height: 100%;

}
.reviews h2{
  display: flex;
  align-items: center;
  font-size: 68px;
  padding: 5px;
  letter-spacing: 15px;
  padding-left: 20px;
  text-transform: uppercase;
}
.reviews__post{
  height: 100%;

}
.post__wrapper-top, .post__wrapper-bottom{
  display: flex;
  position: relative;
  max-width: 900px;
  width: 100%;


}
.post__text {
  box-sizing: border-box;
  width: 360px;
  height: 400px;
  padding: 20px;
  background-color: var(--brand-white);
  color: var(--bgcolor);
}
.post__text h3{
  text-align: center;
}
.post__text p{
  font-size: 18px;
  line-height: 22px;
}
.post__text span{
  margin: 10px;
  color: var(--brand-orange);
 
}
.post__img-top , .post__img-bottom{
  width: 360px;
  height: 400px;
  background-image: url(../images/spa_woman1.jpg);
  background-size: cover;
  opacity: .7;
}
.post__img-bottom{
  background-image: url(../images/spa_woman2.jpg);
}
.img__credit{
  position: absolute;
  bottom: 0;
  background-color: var(--bgcolor);
  color: var(--brand-white);
  padding: 5px;
}
.img__credit-right {
  right: 0;
  scale: 1 0;
  transform-origin: bottom;
  transition: scale .5s;
}

.img__credit-left{
  left: 0;
  scale: 1 0;
  transform-origin: bottom;
  transition: scale .5s;
}
.post__img-top:hover + .img__credit-right{
  scale: 1 1;
}

.post__img-bottom:hover + .img__credit-left {
  scale: 1 1;
}


/*CSS ANIMATION */
@keyframes coverfade {
  0% {opacity: 1}
  100% {opacity: 0}
}


@keyframes fade-in{
  0% {opacity: 0;}
  100%{opacity: 1;}
}


