/*Colors
BG color #6C5240;
off-white #EFE7DD;
brown #69452E;
orange #9B4922;
*/

main{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    border: none;
  }

  footer {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    border: none;
  }

  .scroll-watcher {
    height: 10px;
    border-radius: 50px;
    position: fixed;
    top:0;
    z-index: 1000;
    background-color: rgba(215, 85, 24, 0.6);
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
  }

@keyframes scroll-watcher {
    to {scale: 1 1;}
}
/* About section */
.about-us {
    width: 1200px;
    height: 900px;
    display: flex;
    flex-direction: row;
}

.container_about-text {
    width: 600px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.company-name {
    width: 600px;
    height: 150px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color:#EFE7DD;
}

.about-title {
    width: 600px;
    height: 60px;
    font-family: 'TAN - MERINGUE';
    font-size: 68px;
    color: #EFE7DD;
    font-style: normal;
    margin-top: 40px;
    display: inline-block;
    position: relative;
}

/* Hover underline title starts */
.about-title::after, .about-title::before {
    content: "";
    position: absolute;
    width: 430px;
    height: 2px;
    background: linear-gradient(to right, #9B4922, #EFE7DD);
    bottom: -25px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.about-title::before {
    top: -30px;
    transform-origin: left;
}

.about-title:hover::after, .about-title:hover::before {
    transform: scaleX(1);
}
/* Hover underline title ends */

.about_blocktext {
    width: 600px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color:#EFE7DD;

}

.img-about {
    width: 550px;
    height: 700px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 10px;
}

.img-bottle1 {
    width: 440px;
    height: 500px;
    z-index: 3;
    position: absolute;
    left: -60px;
}

.img-bottle2 {
    width: 420px;
    height: 700px;
    position: absolute;
    left: 40px;
    z-index: 1;
    opacity: 0.3;
}

/* Team section */

.our-team {
    max-width: 1200px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container_team-text {
    max-width: 1260px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-title {
    width: 600px;
    height: 60px;
    font-family: 'TAN - MERINGUE';
    font-size: 68px;
    color: #EFE7DD;
    font-style: normal;
    display: flex;
    position: relative;
    transform: translateX(100px);
}

/* Hover underline title starts */
.team-title::after, .team-title::before {
    content: "";
    position: absolute;
    width: 430px;
    height: 2px;
    background: linear-gradient(to right, #9B4922, #EFE7DD);
    bottom: -25px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.team-title::before {
    top: -30px;
    transform-origin: left;
}

.team-title:hover::after, .team-title:hover::before {
    transform: scaleX(1);
}
/* Hover underline title ends */


.team-h3 {
    display:flex;
    justify-content: center;
}

.team_blocktext {
    width: 1150px;
    height: 75px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color:#EFE7DD;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translateX(20px);
}

.container_members {
    width: 1260px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 1200px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    height: 300px;
    background-color: #EFE7DD;
    border: none;
}

.box:hover {
    transition: all 0.5s;
    border: solid #9B4922;
    cursor: pointer;
    box-shadow: #9B4922 0px 0px 2px inset, #6C5240 10px -10px 0px -3px, #EFE7DD 10px -10px, #6C5240 20px -20px 0px -3px, #EFE7DD 20px -20px, #6C5240 30px -30px 0px -3px, #EFE7DD 30px -30px;
}

.img-team {
    width: 200px;
    height: 175px;
    margin-top: 10px;
}
.team-name {
    width: 200px;
    font-family: 'TAN - MERINGUE';
    font-size: 22px;
    color: #6c5240;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.team-position {
    width: 200px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #6c5240;
    display: flex;
    justify-content: center;
}

/* FAQ section */
.FAQ {
    width: 1200px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/perfume.avif);
    background-size: 1200px;
    background-repeat: no-repeat;
    margin-top: 75px;
}
.FAQ-img {
    height: 220px;
    width: 250px;
}
.container_FAQ {
    width: 850px;
    height: 450px;
    background-color: transparent;
    flex-direction: column;
    overflow: hidden;
    display: flex;
}

details {
    width: 700px;
    min-height: 1rem;
    cursor: pointer;
    padding: 30px 30px;
    margin: 0;
    background-color: #EFE7DD;
    align-self: center;
    position: relative;
    overflow-y: scroll;
}

details:not(:last-child) {
    border-bottom: solid 1px  #9B4922;
}

.answers, .questions {
    text-align: left;
}

.questions {
    margin-inline-start: 1rem;
    list-style-position: outside;
    background-color: #EFE7DD;
    transform: translateY(3px);
}


/* Removing marker and customize a new +/- */
details summary::marker, :is(::-webkit-details-marker) {
    font-family: "font Awesome 5 Free";
    font-weight: 900;
    content: "\f067";
    color: #9B4922;
}

details [open] summary::marker {
    font-family: "font Awesome 5 Free";
    font-weight: 900;
    content: "\f068";
    color: #9B4922;
}

details summary {
    list-style: none;
    &::after {
        font-family: "font Awesome 5 Free";
        font-weight: 900;
        content: "\f067";
        color:#9B4922;
    }
    [open] &::after {
        transition: all 0.4s ease-in-out;
        transform: rotate(180deg);
        font-family: "font Awesome 5 Free";
        font-weight: 900;
        content: "\f068";
    }
}

details summary::-webkit-details-marker {
    display: none;
}

/*
summary::after {
    font-family: "font Awesome 5 Free";
    font-weight: 900;
    content: "\f067";
}


details [open] .summary::after{
    font-family: "font Awesome 5 Free";
    font-weight: 900;
    content: "\f068";
    transform: rotate(70deg);
    transition: rotate 200ms ease-out;
}
*/
/*
details > summary {
    padding: 4px;
    width: 800px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

details > .answers {
    padding: 4px;
    margin-left: 10px;
    margin-right: 10px;
}
*/
.questions {
    font-family: 'TAN - MERINGUE';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #9B4922;
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.answers {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #69452E;
}

a {
    color:inherit;
}

a:hover {
    color: #69452E;
    font-weight: 700;
}

/* Story section */

.our-story {
    width: 1200px;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-story {
    /*
    max-width: 600px;
    height: 600px;
    float: right;
    */
    width: 40%;
    float: left;
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    */
    position: relative;
    overflow: hidden;
   /*
    animation-name: relaxing;
    animation: relaxing 10s infinite;
    */
    margin-left: 20px;
}

 
.img-story img {
    display: block; 
    width: 100%;
    height: 500px;
    overflow:hidden;
}
  
.img-story:hover img{
    transform: scale(1.35);
    transition: .8s ease-in-out;
    opacity: 1;
}

/*
@keyframes relaxing {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}
*/

.img-products {
    width: 300px;
    height: 600px;
    opacity: 0.5;
}
.img-greenproducts {
    width: 300px;
    height: 600px;
    opacity: 0.5;
}
.container_story-text {
    max-width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.story-title {
    width: 600px;
    font-family: 'TAN - MERINGUE';
    font-size: 68px;
    color: #EFE7DD;
    font-style: normal;
    position: relative;
    margin-left: 50px;
}

/* Hover underline title starts */
.story-title::after, .story-title::before {
    content: "";
    position: absolute;
    width: 470px;
    height: 2px;
    background: linear-gradient(to right, #9B4922, #EFE7DD);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.story-title::before {
    top: -30px;
    transform-origin: left;
}

.story-title:hover::after, .story-title:hover::before {
    transform: scaleX(1);
}
/* Hover underline title ends */

.story-h3 {
    margin-left: 50px;
}

.story_blocktext {
    width: 600px;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: #EFE7DD;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

a {
    text-decoration: none;
}

/* Social media - footer */

.line-break {
    color:#EFE7DD;
    margin-bottom: 70px;
}

.contact-details {
    width: 1200px;
    height: 400px;
    margin-left: 30px;
}

.social-title {
    font-size: 40px;
    position: relative;
    display: inline-block;
}

/* Hover underline title starts */
.social-title::after, .social-title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #9B4922, #EFE7DD);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.social-title::before {
    top: -15px;
    transform-origin: left;
}

.social-title:hover::after, .social-title:hover::before {
    transform: scaleX(1);
}
/* Hover underline title ends */

/* Simple underline
.social-title:hover {
    text-decoration: underline;
}
*/

.fa-brands {
    height: 100px;
    font-size: 50px;
    color: #EFE7DD;
    margin-top: 12px;
}

.icons {
    width: 400px;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.circle-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #9B4922;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
}

.circle-icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    background-color: #69452E;
    z-index: -1;
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: top;
}

.circle-icon:hover::before {
    transform: scaleX(1);
}

.circle-icon {
    z-index: 1;
    color: #9B4922;
}